<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <title><%=title %>| 匿名メール</title>

  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="匿名メッセージ交換サービスです">
  <meta name="theme-color" content="#0cd1e8">

  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">

  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:title" content="<%=title %> | 匿名メール" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%=url %>" />
  <meta property="og:image" content="<%=image_url %>" />
  <meta property="og:site_name" content="匿名メール" />
  <meta property="og:description" content="匿名メール | 質問受け付けます。" />

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="匿名メール">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0cd1e8">

  <meta http-equiv="x-ua-compatible" content="IE=Edge">

  <link href="/build/app.css" rel="stylesheet">
  <script src="/build/app.js"></script>

  <link rel="apple-touch-icon" href="/assets/icon/icon.png">
  <link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico">
  <link rel="manifest" href="/manifest.json">
</head>

<body>

  <app-root></app-root>

</body>

</html>
